@charset "CP950";
/* line 5, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none; }

/* line 116, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
範例
.title1 {
    @include bp(area-max) {
        content:'max';
        font-size: 72px;
    }
    @include bp(area-301) {
        content:'小於1280px';
        font-size: 48px;
    }
    @include bp(area-201) {
        content:'小於980px';
        font-size: 36px;
    }
    @include bp(area-101) {
        content:'小於767px';
        font-size: 20px;
    }
    @include bp(area-001) {
        content:'小於480px';
        font-size: 12px;
    }
}
*/
/* line 39, ../sass/common.scss */
body {
  background-color: #880303;
  min-width: 990px;
  min-height: 680px; }

/* line 53, ../sass/common.scss */
#preloading {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #880303; }
  /* line 61, ../sass/common.scss */
  #preloading #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    margin-top: -17px;
    margin-left: -17px; }

/* line 72, ../sass/common.scss */
#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -358px;
  margin-left: -522px;
  width: 1009px;
  height: 52px; }
  @media screen and (max-width: 1000px) {
    /* line 72, ../sass/common.scss */
    #nav {
      position: absolute;
      left: 0px;
      margin-left: 0px; } }
  @media screen and (max-height: 700px) {
    /* line 72, ../sass/common.scss */
    #nav {
      position: absolute;
      top: 0px;
      margin-top: 0px; } }
  /* line 94, ../sass/common.scss */
  #nav #nav_fb {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 1009px;
    width: 44px;
    height: 52px; }
  /* line 98, ../sass/common.scss */
  #nav #nav_website {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 906px;
    width: 103px;
    height: 52px; }
  /* line 102, ../sass/common.scss */
  #nav #nav_top10 {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 811px;
    width: 95px;
    height: 52px; }
  /* line 106, ../sass/common.scss */
  #nav #nav_rule {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 730px;
    width: 81px;
    height: 52px; }
  /* line 110, ../sass/common.scss */
  #nav #nav_home {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 660px;
    width: 70px;
    height: 52px; }

/* line 117, ../sass/common.scss */
#card {
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 15px;
  width: 1261px;
  height: 790px; }

/* line 121, ../sass/common.scss */
#logo {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  top: 79px;
  left: 136px;
  width: 133px;
  height: 63px; }

/* line 120, nav/buttons/*.png */
.buttons-sprite, .buttons-nav_fb, .buttons-nav_home, .buttons-nav_rule, .buttons-nav_top10, .buttons-nav_website {
  background-image: url('../img/nav/buttons-safabef5659.png');
  background-repeat: no-repeat; }

/* line 84, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
.buttons-nav_fb {
  background-position: 0 0; }
  /* line 59, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
  .buttons-nav_fb:hover, .buttons-nav_fb.nav_fb-hover {
    background-position: 0 -52px; }

/* line 84, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
.buttons-nav_home {
  background-position: 0 -104px; }
  /* line 59, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
  .buttons-nav_home:hover, .buttons-nav_home.nav_home-hover {
    background-position: 0 -156px; }

/* line 84, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
.buttons-nav_rule {
  background-position: 0 -208px; }
  /* line 59, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
  .buttons-nav_rule:hover, .buttons-nav_rule.nav_rule-hover {
    background-position: 0 -260px; }

/* line 84, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
.buttons-nav_top10 {
  background-position: 0 -312px; }
  /* line 59, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
  .buttons-nav_top10:hover, .buttons-nav_top10.nav_top10-hover {
    background-position: 0 -364px; }

/* line 84, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
.buttons-nav_website {
  background-position: 0 -416px; }
  /* line 59, C:\Ruby200\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.20\stylesheets\compass\utilities\sprites\_base.scss */
  .buttons-nav_website:hover, .buttons-nav_website.nav_website-hover {
    background-position: 0 -468px; }

/* line 128, ../sass/common.scss */
.nav_home_active {
  background-position: 0 -156px; }

/* line 131, ../sass/common.scss */
.nav_top10_active {
  background-position: 0 -364px; }

/* line 135, ../sass/common.scss */
.nav_rule_active {
  background-position: 0 -260px; }
